/*
Author: Smart Code Media
Project:  Aura
Version:  1.0

==================

====================*/

/* 0. Vars
*************************************/
$primary: #edd85e;
$secondary: #7e8f9e; // text

/* 1. Global changes 
*************************************/
body {
    font-size:14px;
    background: black;
}

i, span{
    color:$primary;
}

.btn-primary{
    border:1px solid $primary;
    background: transparent;
    &:hover{
    border:1px solid $primary;
    background: rgba(231,176,41,0.3);
    }
}
    
.heading-name{
    color: $primary;
    padding:20px;
    h6{
        color: $secondary;
    }
}

/* 2. Navbar 
*************************************/
.navbar{
    opacity: 0.9;
}

.nav-item{
    border: 1px solid transparent;    
    &:hover{
        border: 1px solid $primary;
    }
}

.social-icons{
    font-size: 18px;
    padding: 5px;
    color: $primary;
    &:hover{
        color: lighten($primary, 20%);
    }
}

/* 3. Showcase
*************************************/

#showcase{
    color: white;
    background-image: url(../img/showcase/bg.jpg);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: right;

}

.carousel{
    min-height: 100vh;
}

.carousel-caption{
    h3{
        color: $primary;
    }
}

.carousel-item{
    height: 85vh;
    h5{
        font-size: 2.8rem;
    }
}


/* 4. About
*************************************/

#about{
    background-image: url(../img/about/about-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    h3{
        color: white;
    }
    p{
        color: $secondary;
    }
    h5{
        color: white;
    }
}

/* 5. Portfolio
*************************************/

.portfolio-menu{
    text-align: center;
    ul li{
        display:inline-block;
        margin: 10px;
        color: $primary;
        padding: 10px 15px;
        cursor: pointer;
        &:hover{
            background: orange;
            color: white;
        }

    }   
}

.portfolio-items{
    .item img{
        border: 3px solid white;
        width: 270px;
        height: 270px;
        float: left;
    }
}

/* 6. Skills
*************************************/

#skills{
    background-image: url(../img/skills/skills.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    h3{
        color: $primary;
        font-size: 18px;
    }
}

/* 7. Team
*************************************/
.card{
    transition: all 0.7s ease-in-out;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 3px 113px -3px $primary;
    }
}

/* 7. Subscribe
*************************************/

#subscribe{
    background-image: url(../img/news/news.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}