/*
Author: Smart Code Media
Project:  Aura
Version:  1.0

==================

====================*/
/* 0. Vars
*************************************/
/* 1. Global changes 
*************************************/
body {
  font-size: 14px;
  background: black; }

i, span {
  color: #edd85e; }

.btn-primary {
  border: 1px solid #edd85e;
  background: transparent; }
  .btn-primary:hover {
    border: 1px solid #edd85e;
    background: rgba(231, 176, 41, 0.3); }

.heading-name {
  color: #edd85e;
  padding: 20px; }
  .heading-name h6 {
    color: #7e8f9e; }

/* 2. Navbar 
*************************************/
.navbar {
  opacity: 0.9; }

.nav-item {
  border: 1px solid transparent; }
  .nav-item:hover {
    border: 1px solid #edd85e; }

.social-icons {
  font-size: 18px;
  padding: 5px;
  color: #edd85e; }
  .social-icons:hover {
    color: #f7eeba; }

/* 3. Showcase
*************************************/
#showcase {
  color: white;
  background-image: url(../img/showcase/bg.jpg);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: right; }

.carousel {
  min-height: 100vh; }

.carousel-caption h3 {
  color: #edd85e; }

.carousel-item {
  height: 85vh; }
  .carousel-item h5 {
    font-size: 2.8rem; }

/* 4. About
*************************************/
#about {
  background-image: url(../img/about/about-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat; }
  #about h3 {
    color: white; }
  #about p {
    color: #7e8f9e; }
  #about h5 {
    color: white; }

/* 5. Portfolio
*************************************/
.portfolio-menu {
  text-align: center; }
  .portfolio-menu ul li {
    display: inline-block;
    margin: 10px;
    color: #edd85e;
    padding: 10px 15px;
    cursor: pointer; }
    .portfolio-menu ul li:hover {
      background: orange;
      color: white; }

.portfolio-items .item img {
  border: 3px solid white;
  width: 270px;
  height: 270px;
  float: left; }

/* 6. Skills
*************************************/
#skills {
  background-image: url(../img/skills/skills.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; }
  #skills h3 {
    color: #edd85e;
    font-size: 18px; }

/* 7. Team
*************************************/
.card {
  transition: all 0.7s ease-in-out; }
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 3px 113px -3px #edd85e; }

/* 7. Subscribe
*************************************/
#subscribe {
  background-image: url(../img/news/news.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; }
